
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

*, *:before, *:after{
	box-sizing: border-box;
}
/* END OF SETUP STYLES*/
@mixin flex{
	display: flex;     
	display: -moz-flex;        
	display: -ms-flex; 
	display: -o-flex;     
	display: -webkit-flex;
}
@mixin flex-wrap{
   flex-wrap: wrap;
	-webkit-flex-wrap: wrap;      
	-moz-flex-wrap: wrap;         
	-ms-flex-wrap: wrap;  
	-o-flex-wrap: wrap;     
}
@mixin justify{
	 justify-content: center;
	-webkit-justify-content: center;      
	-moz-justify-content: center;         
	-ms-justify-content: center; 
	-o-justify-content: center;  
}
@mixin align-center{
	align-items: center;
	-webkit-align-items: center;      
	-moz-align-items: center;        
	-ms-align-items: center; 
	-o-align-items: center; 
}
@mixin align-end{
	align-items: flex-end;
	-webkit-align-items: flex-end;     
	-moz-align-items: flex-end;        
	-ms-align-items: flex-end; 
	-o-align-items: flex-end; 
}

html{
	margin: 0;
	padding: 0;
}

body{
	margin:0;
	padding: 0;
	background-image: url(yellow_background.jpg);
	background-size: cover;
	@include flex;
	@include justify;
	@include flex-wrap;
	font-family: 'Righteous', cursive;
	text-transform: uppercase;
	letter-spacing: 5px;
	overflow: hidden;
	
}
i{
	padding: 16%;
}
a{
	text-decoration: none;
	color: #d63b71;
}
//BARS ****************************************
.bar {
	@include flex;
	height: 5.25vh;
	width: 100%;
	background-color: black;
	@include flex-wrap;
	color: white;
	@include align-center;
	padding-left: 5px;
}

.bar-bottom{
	width: 100%;
}

h3{
	width: 100%;
}
.marquee{
    width: 100%;
    overflow: hidden;
    white-space: nowrap; //flex object?
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
  	-moz-animation: marquee 30s linear infinite;
  	-o-animation: marquee 30s linear infinite;
}
@-webkit-keyframes marquee{
    0%   { text-indent: 75em }
    100% { text-indent: -100em }
}
@-moz-keyframes marquee{
    0%   { text-indent: 75em }
    100% { text-indent: -100em }
}
@-o-keyframes marquee{
    0%   { text-indent: 75em }
    100% { text-indent: -100em }
}
@keyframes marquee {
    0%   { text-indent: 75em }
    100% { text-indent: -100em }
}
//WARDROBE ****************************************
.content-wrapper{
	max-width: 940px;
	@include flex;
	@include justify;
	@include flex-wrap;
	margin:0;
	padding:0;
	width: 100%;
}
.wardrobe{
	@include flex;
	@include flex-wrap;
	@include align-end;
	width: 100%;
	@include justify;
	width: 100%;
}
.img-container{
	@include flex;
	@include flex-wrap;
	width:60%;
}
.img{
	@include flex;
	background:white;
	height: 37.90vh;
	width: 100%;
}
img{
	@include align-center;
	height:100%;
}
.top{
	padding:2%;
	margin: auto;
}
.bottom{
	padding: 10%;
	margin: auto;
}
//BUTTONS ******************************

button{
	padding:0.5% 13%;
	background: darkgrey;
	width: calc(100%/3);
	font-size:30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	@include flex;
	@include align-center;
	@include justify;
}
button:hover{
	background: linear-gradient( 180deg, #8F93F7, #616AF6);
	border: outset 5px #8F93F7;
}
button:focus{
	background: linear-gradient( 180deg, #8F93F7, #616AF6);
	border: outset 5px #8F93F7;
	outline: 0;
}
.big-button{
	width: 20%;
	height: 20vh;
	padding: 0.5% 3%;
}
.skin{
	border: outset 5px grey;

}
//MODALS ***************************************
 .modal-container{
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 	@include flex;
 	transform: scale(1.3);
 	opacity: 0;
 	visibility: hidden;
 	transition: all 0.5s ease;
 	z-index: 10;
 	
 }
 .modal-container-2{
 	position: fixed;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 	@include flex;
 	transform: scale(1.3);
 	opacity: 0;
 	visibility: hidden;
 	transition: all 0.5s ease;
 	z-index: 10;
 	
 }

 .modal-container.show{
 	opacity: 1;
 	visibility: visible;
 	transform: scale(1);
 }
 .modal-container-2.show{
 	opacity: 1;
 	visibility: visible;
 	transform: scale(1);
 }

 .overlay{
 	background: rgba(0,0,0,0.4);
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	top: 0;
 	left: 0;
 	z-index: 9;
 	display: flex;
 }
 .modal{
 	width: 500px;
 	background: linear-gradient( 180deg, #8F93F7, #616AF6);
	border: outset 5px #8F93F7;
 	padding: 15px 100px;
 	position: relative;
 	@include justify;
 	margin: auto;
 	z-index: 10;
 }
 .close-button{
 	position: absolute;
 	right: -10px;
 	top: 0px;
 	display: block;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;

 }
 .close-button i{
 	margin: auto;
 }

@import "mediaQ";



